body {
    user-select: none;
    background-color: black;
}

#level_1 {
    height: 400px;
    width: 400px;
    display: flex;
}

#level_1 div {
    font-size: 30px;
    font-weight: 900;
    height: 30%;
    width: 30%;
}

#level_2 {
    height: 400px;
    width: 400px;
    display: none;
}

#level_2 div {
    font-size: 30px;
    font-weight: 900;
    height: 23%;
    width: 23%;
}

.lvl_style {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px auto;
    padding: 0 0;
}

.btn_style {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 3px solid red;
    background-color: whitesmoke;
}

.click_anim {
    animation: click 0.5s;
}

@keyframes click {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
